h1{
	font-size: 50px;
	background-color: #191970;
	font-weight:bold;
	text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
	color: #DDD;
	margin-top:0px;
	margin-bottom:0px;
	padding:30px;
	font-style: italic;
}

ul{
	margin-top:0px;
	padding-top:0px;
}

#topNavButtons{
	display: inline-block;
}

#allArticles{
	background-color: #6495ED;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	margin-right:10px;
}

#savedArticles{
	background-color: #6495ED;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	margin-right:10px;
}

#scrapeButton{
	background-color: #6495ED;
	font-size: 16px;
	color: #FFF;
	font-weight: bold;
	margin-right:10px;
}

#navButtons{
	border-top: 3px solid #DDD;
	border-bottom: 3px solid #DDD;
	background-color: #000;
	padding-top:7px;
	padding-bottom: 7px;
	margin-bottom:0px;
}

#theArticle{
	margin-top:0px;
	float:left;
	width: 70%;
	font-size: 18px;
	padding-top: 0px;
}

#theTitle{
	font-weight: bolder;
	font-size: 20px;
}

#commentArea{
	float:right;
	padding-top: 0px;
	margin-top: 0px;
	width: 30%;
}

#authorInput{
	display: block;
	width: 95%;
}

#commentInput{
	display: block;
	width: 95%;
}

#addComment{
	margin:0 auto;
}

li:nth-child(even){
	background-color: #DDD;
}

ul{

	list-style: none;
	padding:10px;
	margin-left:0px;
	padding-left:0px;
}

li{
	padding:10px;
	margin-left:0px;
}
